
.card{
    background-color: aliceblue;
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
}

.title{
    font-size: 16px;
}

.imgstyle{
    width: 80vw; 
    height: auto;
}

.textP{
    background-color: gray;
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
}


.text{
    font-size: 12px;
    margin-top: 15px;
    border: 2px solid black;
} 


@media (width > 1000px){
    .imgstyle{
        width: auto;
        height: 250px;
    }
    
 
}